* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --strongcyan: hsl(172, 67%, 45%);
    --verydarkcyan: hsl(183, 100%, 15%);
    --grayishcyan: hsl(184, 14%, 56%);
    --darkgrayishcyan: hsl(186, 14%, 43%);
    --verylightgrayishcyan: hsl(183, 42%, 91%);
    --white: hsl(0, 0%, 100%);
    --lightgrayishcyan: hsl(185, 41%, 84%);
}

/* TYPOGRAPHY */

.section-title {
    font-size: .75em;
    letter-spacing: 1.3px;
    margin: 2em 0 1em;
}

body {
    font-family: 'Space Mono', monospace;
    font-size: 24px;
    color: var(--darkgrayishcyan);
    background-color: var(--lightgrayishcyan);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    padding: 2em 1em 1em;
}

.container {
    background-color: var(--white);
    width: 100%;
    min-height: 95vh;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 1em 1em 0;
}

.input {
    border: none;
    background-color: var(--verylightgrayishcyan);
    font-size: 1em;
    padding: .3em 1em;
    color: var(--verydarkcyan);
    text-align: right;
    font-weight: 700;
    width: 100%;
    border-radius: 5px;
    font-family: 'Space Mono', monospace;
    border:var(--verylightgrayishcyan) 2px solid;
}


 .label {
     position: absolute;
     margin-left: .75em;
     padding-top: .3em;
 }

 .btn-container {
     max-width: 100%;
     display: grid;
     grid-template-columns: 48% 48%;
     gap: .5em;
 }

 .btn {
     border: none;
     background-color: var(--verydarkcyan);
     font-size: 1em;
     color: var(--verylightgrayishcyan);
     padding: .25em 1em;
     font-family: 'Space Mono', monospace;
     border-radius: 5px;
     border:var(--verydarkcyan) 2px solid;

 }
 .custom-btn {
     color: var(--darkgrayishcyan);
     background-color: var(--verylightgrayishcyan);
     font-weight: 700;
     text-align: right;
     font-family: 'Space Mono', monospace;
     border:var(--verylightgrayishcyan) 2px solid;
 }

 .btn:active {
     background-color: var(--strongcyan);
     color: var(--verydarkcyan);
 }
 
 .input:focus,
 .btn:focus {
    outline: var(--strongcyan);
     color: var(--verydarkcyan);
     border:var(--strongcyan) 2px solid;
 }

 .btn:focus {
    border:var(--strongcyan) 2px solid;
     color: var(--verydarkcyan);
     background-color: var(--strongcyan);

 }



 .result {
     margin-top: 1.5em;
     background-color: var(--verydarkcyan);
     border-radius: 15px;
     text-align: center;
     color: var(--verylightgrayishcyan);
     padding: 1em .5em;
 }

 .result-section {
     display: flex;
     align-items: center;
    justify-content: space-between;
 }

 .result-section .section-title {
     text-align: left;
 }


 .sub-text {
     font-size: .75em;
     color: var(--grayishcyan);
     display: flex;
 }

 .end-calc {
     color: var(--strongcyan);
     font-size: 28px;
 }

 .reset-btn {
     text-transform: uppercase;
     color: var(--verydarkcyan);
     background-color: var(--strongcyan);
     width: 90%;
     font-weight: 700;
    border:var(--strongcyan) 2px solid;
    margin-top: .5em;
 }

 .reset-btn:active {
     background-color: var(--verylightgrayishcyan);
 }
 


.attribution { 
    font-size: 11px; 
    text-align: center; 
    width: 100%;
    position: fixed;
    bottom: 10px;
    padding: 1em;
    z-index: -10;
}
.attribution a { color: hsl(228, 45%, 44%); }


@media screen  and (min-width: 700px){


    .container {
        margin: 3em 1em auto;
        display: grid;
        grid-template-columns: 48% 48%;
        gap: 2rem;
        max-width: 1000px;
        min-height: unset;
        border-radius: 20px;
        padding: 1em;
    }
    .col-1 {
        margin-top: 0;
        padding-top: 0;
        margin-left: 1rem;
    }
    .btn-container {
        grid-template-columns: repeat(3, 1fr);
    }

    .result {
        margin: 0;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 3rem;
    }
    .result-section .section-title {
        margin: 2rem 0;
    }
    .reset-btn {
        align-self: center;
    }

    .section-title {
        margin: 2rem 0 1rem;
    }

    .end-calc {
        font-size: 2em;
        justify-self: end;
    }
}

.labels {
    display: flex;
    justify-content: space-between;
}

.error {
    color: rgb(250, 98, 52);
}

.hidden {
    display: none;
}

.selected {
    background-color: var(--strongcyan);
    color:hsl(183, 100%, 15%);
    border: 1px solid var(--strongcyan);
}

.empty {
    border: 1px solid rgb(250, 98, 52);
}